@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kanit&display=swap");

body {
  background-color: darkslategray;
  height: 100vh;
}

h1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  color: white;
}

h1:hover {
  color: black;
}
