@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kanit&display=swap");

@keyframes example {
  0% {
    background-color: darkslategray;
  }
  50% {
    background-color: #ff0000;
  }
  100% {
    background-color: darkslategray;
  }
}

body {
  background-color: darkslategray;
  height: 100vh;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

h1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  color: white;
}

h1:hover {
  color: black;
}
