@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kanit&display=swap");

@keyframes example {
  0% {
    background-color: darkslategray;
  }
  50% {
    background-color: #1d9d9f;
  }
  100% {
    background-color: darkslategray;
  }
}

body {
  background-color: darkslategray;
  height: 100vh;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

.companyname {
  color: white;
  font-size: 35px;
  font-weight: bolder;
}

img {
  height: 180px;
  width: auto;
  border-radius: 100px;
}
